/*gets rid of browser defaults*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*responsive images*/
  
  img {
    width: 100%;
    height: auto;
  }
  
  html{
    font-size: 10px;
    height: 100%;
  }

  body {
    background-color: hsl(-100, 0%, 100%);
    min-height: 100%;
  }
  /*fixes overflow*/
  html, body {
    overflow-x: hidden;
  }
  /*fixes overflow*/
  .wrapper {
    width: 100%;
  }

  header {
    z-index: 1;
    width: 100%;
    display: inline-flex;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: .75rem;
    left: 50%;
    background: white;
    text-decoration: none;
    height: 5%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding-top: 2rem;
  }

  .logo {
    display: inline-flex;
    align-items: center;
  }

  .logo-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .navbar {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    font-weight: 500;
    margin-right: .5rem;
    margin-left: .5rem;
  }

  .navbutton {
    background: gold;
    border-radius: 1.5rem;
    text-align: center;
    padding: .5rem .25rem;
    border: none;
    font-size: 80%;
  }

  .navbutton:hover {
    cursor: pointer;
  } 

  .nav-link {
    text-decoration: none;
    font-size: 80%;
    white-space: nowrap; /*keep text same line*/
    margin: 1rem;
  }

  .nav-link:visited {
    color: black;
  }

  .get-started {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-align: start;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:visited {
    color: black;
  }

  .banner-container {
    margin-top: 5rem;
    position: relative;
    width: 100%;
  }
  
   .banner {
    width: 100%;
    display: block;
    margin-top: 5rem;
   }

  .icon {
    text-align: center;
    font-size: 200%;
    font-weight: 400;
  }

  .arrow {
    color: gold;
    margin-top: 7.5rem;
  }

  .bannertxt {
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 200%;
    margin-top: 5rem;
  }

  .txt1 {
    font-size: 190%;
    font-weight: 600;
    background: white;
    opacity: .8;
    width: 100%;
    margin: auto;
    padding: 0 5rem;
    white-space: nowrap;
  }

  .txt2 {
    font-size: 125%;
    background: white;
    opacity: .8;
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 0 5rem;
  }

  #zip {
    text-align: center;
    border-radius: 2.5rem;
    border: .1em solid lightgray;
    padding: 1rem .5rem;
    margin-bottom: 1rem;
  }

  .button2 {
    background: gold;
    border-radius: 2.5rem;
    border: none;
    padding: 1rem 2rem;
  }

  .button2:hover {
    cursor: pointer;;
  }

  .s2-header {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 5rem;
    text-align: center;
    font-size: 200%;
    font-weight: 600;
  }

  .box-container {
    width: 100%;
    display: inline-flex;
    justify-content: center;
  }

  .box {
    text-align: center;
    background-color: white;
    border: none;
    height: 20rem;
    width: 15rem;
    margin: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #d9d9d9;
  }

  .middle {
    text-align: center;
    background-color: white;
    border: none;
    height: 20rem;
    width: 15rem;
    margin: 3rem;
    margin-top: 10rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #d9d9d9;
  }

  .box-img {
    height: 4rem;
    width: 4rem;
    background-image: url('./ssshape.svg');
    background-size: 435%;
    background-position: 52.5% 50%;
  }

  .hiw-details {
    font-size: 90%;
  }

  .s3-header {
    text-align: center;
    font-size: 200%;
  }

  .cmpr-container {
    margin: 5rem auto;
    width: 100%;
    text-align: center;
  }

  .cmpr-details {
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(33.33% - 2rem);
    margin: 1rem;
    min-width: 200px;
  }

  .cmpr-img {
    margin: auto;
    height: 5rem;
    width: 5rem;
    background-image: url('./blob.svg');
    background-size: 435%;
    background-position: 45% 30%;
  }

  .cmpr-info {
    max-width: 12.5rem;
    margin: auto;
  }

  .banner-container2 {
    position: relative;
    width: 100%;
  }

  .mid-banner {
    width: 100%;
    display: block;
    opacity: .8;
  }

  .bannertxt2 {
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 200%;
    width: 80%;
  }

  .text1 {
    font-size: 200%;
    font-weight: 500;
    background: white;
    opacity: .8;
    width: 57.5%;
    margin: auto;
  }

  .text2 {
    font-size: 125%;
    background: white;
    opacity: .8;
    width: 57.5%;
    margin: auto;
    margin-bottom: 1rem;
  }

  #zip2 {
    text-align: center;
    border-radius: 2.5rem;
    border: none;
    padding: 1rem .5rem;
  }

  .button3 {
    background: gold;
    border-radius: 2.5rem;
    border: none;
    padding: 1.5rem 1rem;
  }

  .intrct {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    }

  .faq {
    font-size: 200%;
    text-align: center;
    font-weight: 500;
    }

  hr {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    border: none;
    height: 1px;
    background-color: #d9d9d9;
    }

  .faq-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
    }

  .faq-row:hover {
    background-color: darkgreen;
  }

  .faqs {
    font-size: 150%;
    width: 85%;
    margin: 1rem 2rem auto 2rem;
    display: inline-flex;
    justify-content: left;
    }

  .arrow-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    }

  .arrows {
    border: solid #728FCE;
    border-width: 0 .3rem .3rem 0;
    display: inline-flex;
    flex-direction: row;
    padding: .3rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .arrows.down {
    transition: transform 0.3s;
  }
  .arrows.down:visited {
    transform: rotate(180deg); 
    border-radius: 50%;
    background-color: gold;
    padding: 2rem;
  }

  .banner-container3 {
    position: relative;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .footer-img {
    margin-top: 15rem;
    width: 100%; 
    display: block;
    opacity: .8;
  }

  .bannertxt3 {
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 55%;
    left: 35%;
    line-height: 200%;
  }

  .text3 {
    margin: auto;
    font-size: 200%;
    font-weight: 500;
    background: white;
    opacity: .8;
    width: 80%;
  }

  .text4 {
    font-size: 125%;
    margin: auto;
    margin-bottom: 1rem;
    background: white;
    opacity: .8;
    width: 80%; 
  }

    #zip3 {
    text-align: center;
    border-radius: 2.5rem;
    border: .1rem solid lightgray;
    padding: 1rem .5rem;
  }

   .button4 {
    background: gold;
    border-radius: 2.5rem;
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    width: 57.5%;
    text-align: start;
  }

  .button4:hover {
    cursor: pointer;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 2rem;
  }

  .logo-footer {
    transform: translate(-50%, -50%);
    position: absolute;
    display: inline-flex;
    align-items: center;
    margin-left: 2rem;
    margin-top: 2rem;
    top: 20%;
    left: 20%;
  }

  .logo-footer-txt {
    margin-left: 2rem;
    color: white;
    font-size: 150%;
  }

  .fa-triangle-exclamation {
    color: lightgray;
  }

  .footer-txt {
    color: lightgray;
    margin-left: 2rem;
    width: 100%;
    height: 40%;
    text-indent: 3rem;
    font-size: 75%;
  }

  .footer-info {
    position: absolute; 
    display: inline-flex;
    bottom: 0;
    left: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 30%; 
    text-align: center;
    padding: 1rem;
    z-index: 2;
  }

  .footer-links {
    position: absolute;
    bottom: 0;
    right: 15%;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
    margin-left: 1rem;
    width: 40%; 
    text-align: right;
    z-index: 2; 
    padding: .5rem;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }

  .footer-link {
    color: white;
    width: 100%;
    padding: 0;
    margin: .5rem;
    white-space: nowrap; /*keep text same line*/
  }

  .footer-link:visited {
    color: white;
  }

  @media screen and (min-width: 48rem) {
    .navbutton {
      padding: .5rem 1rem;
      font-size: 120%;
    }
    .logo-icon {
      width: 2rem;
      height: 2rem;
    }
    .logo-title {
      font-size: 150%;
      margin-left: 1rem;
    }
    .nav-link {
      font-size: 140%;  
    }
    .navbutton {
      font-size: 140%;
    }
    .txt1 {
      font-size: 200%;
    }
    .txt2 {
      font-size: 150%;
    }
    #zip {
      font-size: 150%;
    }
    .button2 {
      font-size: 150%;
    }
    .hiw-hdr {
    font-size: 150%;
    margin-bottom: 1rem;
  }
    .hiw-details {
      font-size: 120%;
    }
    .cmpr-img {
      height: 7.5rem;
      width: 7.5rem;
    }
    .cmpr-hdr {
      font-size: 150%;
      margin-top: 1rem;
    }
    .cmpr-info {
      font-size: 115%;
      margin-top: 1rem;
    }
    .text1 {
      font-size: 200%;
    }
    .text2 {
      font-size: 150%;
    }
    #zip2 {
      font-size: 150%;
    }
    .button3 {
      font-size: 150%;
    }
    .faq {
      font-size: 225%;
    }
    .faqs {
      font-size: 175%;
    }
    .bannertxt3 {
      top: 55%;
      left: 25%;
      width: 40%;
    }
    .text3 {
      font-size: 200%;
    }
    .text4 {
      font-size: 150%;
    }
    #zip3 {
      font-size: 150%;
    }
    .button4 {
      font-size: 150%;
    }
    .logo-footer {
      margin-left: 5rem;
      margin-top: 2rem;
    }
    .logo-footer-txt {
      margin-left: 1rem;
    }
    .footer-info {
      width: 40%;
      margin-left: 5rem;
      margin-right: 5rem;
      padding: 1rem 2rem;
      font-size: 150%;
    }
    .footer-links {
      width: 50%;
      right: 0;
      padding-bottom: 2rem;
      font-size: 120%;
    }
  }
  @media screen and (min-width: 77rem) {
    .logo-icon {
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 2rem;
    }
    .logo-title {
      font-size: 200%;
      margin-left: 1.5rem;
    }
    .navbar {
      width: 80%;
      margin-left: 20rem;
      margin-right: 2rem;
    }
    .nav-link {
      font-size: 150%;  
    }
    .txt1 {
      font-size: 250%;
    }
    .txt2 {
      font-size: 175%;
    }
    #zip {
      font-size: 175%;
    }
    .button2 {
      font-size: 195%;
      padding: 1rem;
    }
    .hiw-hdr {
      font-size: 180%;
      margin-bottom: 1rem;
    }
    .hiw-details {
      font-size: 130%;
    }
    .cmpr-img {
      height: 10rem;
      width: 10rem;
    }
    .cmpr-hdr {
      font-size: 200%;
      margin-top: 1rem;
    }
    .cmpr-info {
      font-size: 130%;
      margin-top: 1rem;
    }
    .text1 {
      font-size: 250%;
    }
    .text2 {
      font-size: 175%;
    }
    #zip2 {
      font-size: 175%;
    }
    .button3 {
      font-size: 175%;
    }
    .faq {
      font-size: 250%;
    }
    .faqs {
      font-size: 200%;
    } 
    .text3 {
      font-size: 250%;
    }
    .text4 {
      font-size: 175%;
    }
    #zip3 {
      font-size: 175%;
    } 
    .button4 {
      font-size: 175%;
    }
    .logo-footer {
      margin-left: 50rem;
      margin-top: 3rem;
      height: 150%;
      width: 150%;
    }
    .logo-footer-txt {
      font-size: 200%;
    }
    .footer-info {
      width: 40%;
      margin: 2rem 5rem;
      padding: 1rem 2rem;
      font-size: 175%;
    }
    .footer-links {
      width: 40%;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-bottom: 2rem;
      padding-right: 2rem;
      padding-left: 2rem;
      padding-bottom: 2rem;
      font-size: 150%;
    }
  }
